/* 图标使用 https://lucide.dev/ 网站的 */
/* 它选择所有 class 属性值以 mini-i- 开头的元素 */
[class^="mini-i-"],
/* 选择所有 class 属性值中包含 mini-i- 字符串的元素 */
[class*=" mini-i-"],
.mini-i-icon {
  width: 1em;
  height: 1em;
}

[class^="mini-i-"].bg,
[class*=" mini-i-"].bg,
.mini-i-icon.bg {
  background-size: 100% 100%;
  background-color: transparent;
}

[class^="mini-i-"]:not(.bg),
[class*=" mini-i-"]:not(.bg),
.mini-i-icon:not(.bg) {
  -webkit-mask: var(--icon) no-repeat;
  mask: var(--icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  background-color: currentColor;
  color: inherit;
}

/* 自己制作 Icon Demo */
/* .mini-i-plus {
  --icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewBox='0 0 24 24'%3E%3Cpath d='M5 12h14M12 5v14'/%3E%3C/svg%3E");
} */
