/**
* Colors: 背景
*
* - `bg`: 主屏幕使用的颜色背景
*
* - `bg-alt`: 在“侧边栏”或“代码块”等地方使用的可选颜色背景
*
* - `bg-elv`: 提升后的背景颜色. 这是用在它“浮动”的部分，比如“对话框”。
*
* - `bg-soft`: 用于区分页面上某些组件的背景颜色。例如，用于“碳广告(carbon)”或“表格”等。
* -------------------------------------------------------------------------- */

:root {
  --mini-c-bg: #ffffff;
  --mini-c-bg-alt: #f6f6f7;
  --mini-c-bg-elv: #ffffff;
  --mini-c-bg-soft: #f6f6f7;
}

.dark {
  --mini-c-bg: #1b1b1f;
  --mini-c-bg-alt: #161618;
  --mini-c-bg-elv: #202127;
  --mini-c-bg-soft: #202127;
}
