/**
* Colors: Text
*
* - `text-1`: 用于主要文本。
*
* - `text-2`: 用于柔和的文本，例如 “未激活的菜单” 或 “信息文本”。
*
* - `text-3`: 用于细微的文本，例如 “占位符” 或 “插入符号图标”。
* -------------------------------------------------------------------------- */

:root {
  --mini-c-text-1: rgba(60, 60, 67);
  --mini-c-text-2: rgba(60, 60, 67, 0.78);
  --mini-c-text-3: rgba(60, 60, 67, 0.56);
}

.dark {
  --mini-c-text-1: rgba(255, 255, 245, 0.86);
  --mini-c-text-2: rgba(235, 235, 245, 0.6);
  --mini-c-text-3: rgba(235, 235, 245, 0.38);
}
