// 默认样式
.radio .wx-radio-input {
  border-radius: 3px;
  background: rgba(218, 62, 75, 1);
  border: none;
}

// 选中样式
.radio .wx-radio-input.wx-radio-input-checked {
  background-color: #1f8ae0 !important;
  border: none !important;
}

// 选中的对勾
.radio .wx-radio-input.wx-radio-input-checked::before {
  color: #ffffff;
}
