// 方式2: 修改 box-shadow 进行滚动条过渡动画
body {
  margin: 0;
  overflow: overlay;

  // 通过设置文字颜色进行过去
  color: transparent;
  -webkit-text-fill-color: black;
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.1);
  transition: color 0.3s ease;
}

body:hover {
  color: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 8px;
}
::-webkit-scrollbar-thumb {
  border: 10px solid;
  border-radius: 12px;
}
