body {
  /* chrome 114 版本开始废弃 */
  overflow: overlay;
  background-color: transparent;
  transition: 0.3s background-color;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background-color: inherit;
  border-radius: 8px;

  /* 添加滚动条的边框 */
  background-clip: content-box;
  border: 2px solid transparent;
}
body[scroll],
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0s;
}

/* 动态修改滚去区域的背景颜色及设置 transition 可以添加滚动条的过渡动画 */
/* 但是会导致背景颜色变化 */
body:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
